@model Data.VetMember

@try
{
    if (Model != null)
    {
        if (Model.DiscordId == 0)
        {
            <partial name="AvaterImage" model="Model" />
            @Html.DisplayFor(modelItem => Model.Name)
        }
        else
        {
            <a asp-page="/Member" asp-route-memberId="@Model.DiscordId">
                <partial name="AvaterImage" model="Model" />
                @Html.DisplayFor(modelItem => Model.Name)
            </a>
        }
    }
}
catch
{

}
