@page
@model VetCoin.Pages.Admin.IndexModel
@{
}
<h2>管理者用ページ</h2>

<a asp-page="Destribute">通貨発行</a><br />
<a asp-page="SiteSettings">サイト設定管理</a><br />
<a asp-page="ReactionMaps/Index">リアクション送金設定</a><br />